In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as sm
import warnings
import plotly.express as px
warnings.filterwarnings("ignore")  # Suppress all warnings
from datetime import datetime
# !pip install openpyxl

In [31]:
df = pd.read_excel("./antiguos/Calidad de vida relacioada en salud.xlsx")
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016 entries, 0 to 1015
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Identificacion  1016 non-null   int64
 1   FE_ALTA         1016 non-null   datetime64[ns]
 2   Dimensiones     1016 non-null   object
 3   0_100           1012 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 31.9+ KB
None

   Identificacion    FE_ALTA                 Dimensiones  0_100
0         1645342 2016-09-27                     Entorno   75.0
1         1645342 2016-09-27                 Psicologico   81.0
2         1645342 2016-09-27  Relaciones interpersonales  100.0
3         1645342 2016-09-27                Salud fisica   25.0
4         1645342 2017-12-21                     Entorno   63.0

In [32]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Identificacion
False    1016
Name: Identificacion, dtype: int64

FE_ALTA
False    1016
Name: FE_ALTA, dtype: int64

Dimensiones
False    1016
Name: Dimensiones, dtype: int64

0_100
False    1012
True        4
Name: 0_100, dtype: int64

In [33]:
df[df.isnull().any(axis=1)]

    Identificacion    FE_ALTA                 Dimensiones  0_100
84         1971217 2017-07-25                     Entorno    NaN
85         1971217 2017-07-25                 Psicologico    NaN
86         1971217 2017-07-25  Relaciones interpersonales    NaN
87         1971217 2017-07-25                Salud fisica    NaN

In [34]:
####Se eliminan los 4 null values de la columna 0_100 ya que no ofrecen informaci√≥n del resultado del test
df.dropna(subset=["0_100"], axis=0, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1012 entries, 0 to 1015
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Identificacion  1012 non-null   int64
 1   FE_ALTA         1012 non-null   datetime64[ns]
 2   Dimensiones     1012 non-null   object
 3   0_100           1012 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 39.5+ KB

In [35]:
df.dtypes

Identificacion             int64
FE_ALTA           datetime64[ns]
Dimensiones               object
0_100                    float64
dtype: object

In [36]:
df=df.rename(columns={'Identificacion':'ID_PACIENTE'})
df.columns=df.columns.str.upper()
df.columns=df.columns.str.replace(' ','_')
df.head()

   ID_PACIENTE    FE_ALTA                 DIMENSIONES  0_100
0      1645342 2016-09-27                     Entorno   75.0
1      1645342 2016-09-27                 Psicologico   81.0
2      1645342 2016-09-27  Relaciones interpersonales  100.0
3      1645342 2016-09-27                Salud fisica   25.0
4      1645342 2017-12-21                     Entorno   63.0

In [37]:
df.to_excel("./Calidad de vidaNew.xlsx")