In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
%matplotlib inline

## Modify "Urgencias" Dataframe

In [3]:
df_urg = pd.read_excel('Datos/Urgencias.xlsx')
df_urg.shape

(5086, 8)

In [4]:
df_urg.columns

Index(['Numero_Identificacion', 'Fecha_Emision', 'Regional_EPS_Desc',
       'Codigo_Prestacion_Op', 'Descripcion_Prestacion',
       'Codigo_Diagnostico_EPS_Op', 'Diagnostico_EPS_Desc',
       'Cantidad_Autorizada'],
      dtype='object')

In [5]:
dict_names_urg = {'Numero_Identificacion':'ID_PACIENTE',
                  'Fecha_Emision':'FECHA_EMISION',
                  'Regional_EPS_Desc':'REGIONAL_EPS',
                  'Codigo_Prestacion_Op':'COD_PRESTACION_OP',
                  'Descripcion_Prestacion':'DESC_PRESENTACION',
                  'Codigo_Diagnostico_EPS_Op':'COD_DIAGNOSTICO_EPS_OP',
                  'Diagnostico_EPS_Desc':'DIAGNOSTICO_EPS_DESC',
                  'Cantidad_Autorizada':'CANTIDAD_AUTORIZADA'}

In [10]:
df_urg = df_urg.rename(columns = dict_names_urg)
df_urg.head(3)

,ID_PACIENTE,FECHA_EMISION,REGIONAL_EPS,COD_PRESTACION_OP,DESC_PRESENTACION,COD_DIAGNOSTICO_EPS_OP,DIAGNOSTICO_EPS_DESC,CANTIDAD_AUTORIZADA
0,1759148,2019-09-29,Pereira,S0050115,ATENCION MEDICA PRIORITARIA,Z759,PROBLEMA NO ESPECIFICADO RELACIONADO CON SERVI...,1
1,1110797,2019-07-20,Armenia,S0050115,ATENCION MEDICA PRIORITARIA,R104,OTROS DOLORES ABDOMINALES Y LOS NO ESPECIFICADOS,1
2,1497880,2019-07-21,Armenia,S0050115,ATENCION MEDICA PRIORITARIA,Z759,PROBLEMA NO ESPECIFICADO RELACIONADO CON SERVI...,1

In [7]:
#Ajusta Campo Cantidad
df_urg['CANTIDAD_AUTORIZADA'] = 1

In [8]:
df_urg_d = df_urg.drop_duplicates()
print(df_urg.shape)
print(df_urg_d.shape)

(5086, 8)
(2713, 8)

In [9]:
# EXPORTA URGENCIAS
df_urg_d.to_csv('df_urgencias.csv')

## Modify "Ayudas Diagn√≥sticas" Dataframe

In [11]:
df_ay_diag = pd.read_excel('Datos/Ayudas_diagnosticas.xlsx')
df_ay_diag.shape

(6871, 4)

In [12]:
df_ay_diag.columns

Index(['Numero_Identificacion', 'Fecha_Orden', 'Manual_Proced_Desc',
       'Result_Ayuda_Diag_Txt'],
      dtype='object')

In [13]:
dict_names_ay_diag = {'Numero_Identificacion':'ID_PACIENTE',
                      'Fecha_Orden':'FECHA_ORIGEN',
                      'Manual_Proced_Desc':'MANUAL_PROCED_DESC',
                      'Result_Ayuda_Diag_Txt':'RESULT_AYUDA_DIAG'}

In [14]:
df_ay_diag = df_ay_diag.rename(columns = dict_names_ay_diag)
df_ay_diag.head(3)

   ID_PACIENTE FECHA_ORIGEN MANUAL_PROCED_DESC  RESULT_AYUDA_DIAG
0       417594   2019-08-05   Colesterol Total              145.0
1       423128   2019-11-26   Colesterol Total              235.0
2       423128   2019-05-16   Colesterol Total              199.0

In [15]:
dic_prodec = {
        'Colesterol Hdl':'Colesterol Hdl',
        'Colesterol Ldl':'Colesterol Ldl',
        'Glucosa (Suero, Lcr, Otros Flu¬°Dos)':'Glucosa',
        'Glucosa En Suero, Lcr U Otro Fluido Diferente A Orina':'Glucosa',
        'Glucosa':'Glucosa',
        'Hemoglobina  ':'Hemoglobina',
        'Hemoglobina Glicada (Hba1C)':'Hemoglobina Glicada',
        'Hemoglobina Glicosilada (Hba1C)':'Hemoglobina Glicada',
        'Hemoglobina':'Hemoglobina',
        'Hemoglobina:':'Hemoglobina',
        'Linfocitos Totales':'Linfocitos',
        'Tasa Filtracion Glomerular (Tfg Metodo Mdrd)':'Tasa Filtracion Glomerular(MDRD)',
        'Tasa Filtraci√≥n Glomerular (Tfg M√©todo Mdrd)':'Tasa Filtracion Glomerular(MDRD)',
        'Transaminasa Glutamico Oxalacetica O Aspartato Amino Transferasa [Tgo-Ast]':'Transaminasa Glutamico Oxalacetica',
        'Transaminasa Glutamicopiruvica O Alanino Amino Transferasa [Tgp-Alt]':'Transaminasa Glutamico Piruvica', 
        'Transaminasa Got/ Ast, Poct':'Transaminasa Glutamico Oxalacetica',
        'Transaminasa Oxalacetica (Got-Ast)':'Transaminasa Glutamico Oxalacetica',
        'Transaminasa Oxaloacetica Got (Ast)':'Transaminasa Glutamico Oxalacetica',
        'Transaminasa Piruvica (Gpt - Alt)':'Transaminasa Glutamico Piruvica',
        'Transaminasa Piruvica Gpt (Alt)':'Transaminasa Glutamico Piruvica',
        'Transaminasas Gpt (Alt)':'Transaminasa Glutamico Oxalacetica',
        'Transaminasas Oxalacetica Got (Asat)':'Transaminasa Glutamico Oxalacetica',
        'Transaminasas Piruvica Gpt (Alat)':'Transaminasa Glutamico Piruvica',
        'Trigliceridos':'Trigliceridos',
        'Colesterol Total':'Colesterol Total'}

In [16]:
df_ay_diag['ManualProc'] = df_ay_diag['MANUAL_PROCED_DESC'].map(dic_prodec)
df_ay_diag.head()

,ID_PACIENTE,FECHA_ORIGEN,MANUAL_PROCED_DESC,RESULT_AYUDA_DIAG,ManualProc
0,417594,2019-08-05,Colesterol Total,145.0,Colesterol Total
1,423128,2019-11-26,Colesterol Total,235.0,Colesterol Total
2,423128,2019-05-16,Colesterol Total,199.0,Colesterol Total
3,423128,2018-06-28,Colesterol Total,256.0,Colesterol Total
4,423128,2017-12-22,Colesterol Total,226.0,Colesterol Total

In [17]:
df_ay_diag['MoY'] = pd.to_datetime(df_ay_diag['FECHA_ORIGEN']).dt.to_period('M')
df_ay_diag['Year'] = pd.to_datetime(df_ay_diag['FECHA_ORIGEN']).dt.year
df_ay_diag.head()

,ID_PACIENTE,FECHA_ORIGEN,MANUAL_PROCED_DESC,RESULT_AYUDA_DIAG,ManualProc,MoY,Year
0,417594,2019-08-05,Colesterol Total,145.0,Colesterol Total,2019-08,2019
1,423128,2019-11-26,Colesterol Total,235.0,Colesterol Total,2019-11,2019
2,423128,2019-05-16,Colesterol Total,199.0,Colesterol Total,2019-05,2019
3,423128,2018-06-28,Colesterol Total,256.0,Colesterol Total,2018-06,2018
4,423128,2017-12-22,Colesterol Total,226.0,Colesterol Total,2017-12,2017

In [18]:
df_ay_diag_d = df_ay_diag[['ID_PACIENTE','FECHA_ORIGEN','ManualProc','RESULT_AYUDA_DIAG','MoY','Year']].drop_duplicates()
df_ay_diag_d.shape

(6846, 6)

In [19]:
# EXPORTA BASE AYUDAS_DIAG
df_ay_diag_d.to_csv('df_ayu_diag.csv')

## Modify "Vacunaci√≥n" Dataframe

In [20]:
df_vacc = pd.read_excel('Datos/Vacunacion.xlsx')
df_vacc.shape

(264, 8)

In [21]:
df_vacc.columns

Index(['Numero_de_documento', 'Fecha_Emision', 'Regional_EPS_Desc',
       'Codigo_Prestacion_Op', 'Descripcion_Prestacion',
       'Codigo_Diagnostico_EPS_Op', 'Diagnostico_EPS_Desc',
       'Cantidad_Autorizada'],
      dtype='object')

In [22]:
dict_names_vacc= {'Numero_de_documento':'ID_PACIENTE',
                  'Fecha_Emision':'FECHA_EMISION',
                  'Regional_EPS_Desc':'REGIONAL_EPS',
                  'Codigo_Prestacion_Op':'COD_PRESTACION_OP',
                  'Descripcion_Prestacion':'DESC_PRESENTACION',
                  'Codigo_Diagnostico_EPS_Op':'COD_DIAGNOSTICO_EPS_OP',
                  'Diagnostico_EPS_Desc':'DIAGNOSTICO_EPS_DESC',
                  'Cantidad_Autorizada':'CANTIDAD_AUTORIZADA'}

In [23]:
df_vacc = df_vacc.rename(columns = dict_names_vacc)
df_vacc.head(3)

,ID_PACIENTE,FECHA_EMISION,REGIONAL_EPS,COD_PRESTACION_OP,DESC_PRESENTACION,COD_DIAGNOSTICO_EPS_OP,DIAGNOSTICO_EPS_DESC,CANTIDAD_AUTORIZADA
0,845676,2018-01-29,Bogota,S1120191,VACUNA PAI INFLUENZA NI√ëOS/AS MAYORES DE 9 A√ëOS,Z251,NECESIDAD DE INMUNIZACI√ìN CONTRA LA INFLUENZA ...,1
1,686768,2018-05-20,Medellin,S1120191,VACUNA PAI INFLUENZA NI√ëOS/AS MAYORES DE 9 A√ëOS,Z759,PROBLEMA NO ESPECIFICADO RELACIONADO CON SERVI...,1
2,1790062,2018-06-05,Medellin,S1120191,VACUNA PAI INFLUENZA NI√ëOS/AS MAYORES DE 9 A√ëOS,Z251,NECESIDAD DE INMUNIZACI√ìN CONTRA LA INFLUENZA ...,1

In [24]:
df_vacc['CANTIDAD_AUTORIZADA'] = 1

In [25]:
df_vacc_d = df_vacc.drop_duplicates()
print(df_vacc.shape)
print(df_vacc_d.shape)

(264, 8)
(217, 8)

In [26]:
# EXPORTA VACUNAS
df_vacc_d.to_csv('df_vaccunas.csv')